---
layout: home-page


---
<div class="small-wrapper" align="center">
  <div class="about-container" align="center">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/186454.jpg" alt="{{site.author}}">
      </div>
      <!-- <p class="subtitle">{{site.about-author}}</p> -->
      <p class="subtitle">
        I am a graduate student in the <a href="http://www.l.u-tokyo.ac.jp/psy/" target="_blank">Department of Psychology</a> 
        at <a href="https://www.u-tokyo.ac.jp/en/" target="_blank">The University of Tokyo</a>.  
      </p>
      
      <p class="subtitle">
        My main research area is in Human Vision and Cognitive Science.
        My area of expertise is scene and color perception. 
        As a vision scientist, one of my ultimate aspirations is to understand how humans perceive the world in the peripheral visual field.
        
      </p>
      
      <p class="subtitle">
        <b>
          If you want to work with me, please send email to lanaokubo[at]gmail.com.  
        </b>
      </p>
  
    </section>
    <section class="about-body">
      <ul class="contact-list">
        <li class="website"><a href="https://researchmap.jp/lana_okubo" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> researchmap</a></li> <br>
        <li class="website"><a href="https://scholar.google.co.jp/citations?view_op=list_works&hl=ja&user=3CRjmbQAAAAJ" target="_blank"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->

<div class="small-wrapper" align="center">
  <div class="section-container" align="left">
    <h1 id="sec:publication" style="color:black" align="left">Publications</h1> 
  </div>
  <div class="publication-container" align="center">
    <ul>

      <li>
        <img src="{{site.baseurl}}/assets/img/186455.jpg">
        <p>
          <b>Lana Okubo</b>, Kazuhiko Yokosawa, Masataka Sawayama, and Takahiro Kawabe. (2021).
          <b>Discounting mechanism underlies extinction illusion</b>. 
          Consciousness and Cognition, 90, 103100.
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S105381002100026X?via%3Dihub" target="_blank">[link]</a>
        </p>
      </li> 

    </ul>
  </div>
</div>

<div class="small-wrapper" align="center">
  <div class="section-container" align="left">
    <h1 id="sec:presentation" style="color:black" align="left">Presentations</h1> 
  </div>
  <div class="publication-container" align="center">
    <ul>

      <li>
        <img src="{{site.baseurl}}/assets/img/8.JPG">
        <p>
          <b>Lana Okubo</b> and Kazuhiko Yokosawa. (2022).
          <b>Effect of Color on Scene Perception in Peripheral Vision</b>. 
          International Meeting of the Psychonomic Society 63rd Annual Meeting.
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 
      
       <li>
        <img src="{{site.baseurl}}/assets/img/7.JPG">
        <p>
          <b>大久保らな</b> ，横澤一彦. (2022).
          <b>周辺視野での情景認知における色の効果</b>. 
          日本基礎心理学会第41回大会.
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 
      
      <li>
        <img src="{{site.baseurl}}/assets/img/6.JPG">
        <p>
          <b>Lana Okubo</b> and Kazuhiko Yokosawa. (2021).
          <b>Attentional Allocation and the Pan-Field Color Illusion</b>. 
          International Meeting of the Psychonomic Society 62nd Annual Meeting.
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 
      
      <li>
        <img src="{{site.baseurl}}/assets/img/5.JPG">
        <p>
          <b>大久保らな</b>，横澤一彦. (2021).
          <b>周辺視野に呈示された自然画像の色判断における注意の効果の検討</b>. 
          「注意と認知」研究会 第19回研究会.
        </p>
      </li> 
      
       <li>
        <img src="{{site.baseurl}}/assets/img/4.JPG">
        <p>
          <b>Lana Okubo</b>, Kazuhiko Yokosawa, Masataka Sawayama, and Kazuhiko Yokosawa. (2020).
          <b>Why does a disk subjectively disappear in Ninio’s extinction illusion?</b>. 
          Vision Sciences Society (VSS) 2020 Annual Meeting.
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 
      
       <li>
        <img src="{{site.baseurl}}/assets/img/3.JPG">
        <p>
          <b>大久保らな</b>，横澤一彦, 澤山正貴, 河邉隆寛. (2019).
          <b>同心円受容野モデルは消失錯視を説明するか？</b>. 
          日本基礎心理学会第38回大会.
        <a href="https://psychonomic.jp/award/2019.html" target="_blank">[link]</a>
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 
      
       <li>
        <img src="{{site.baseurl}}/assets/img/2.PNG">
        <p>
          <b>Lana Okubo</b>, Kyuto Uno and Kazuhiko Yokosawa. (2019).
          <b>Enhancement of color working memory in grapheme-color synesthetes.</b>. 
          Object Perception, Attention, and Memory (OPAM) 27th Annual Meeting.
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 
      
       <li>
        <img src="{{site.baseurl}}/assets/img/1.PNG">
        <p>
          <b>大久保らな</b>，宇野究人，横澤一彦. (2019).
          <b>色字共感覚者における色ワーキングメモリと視覚性ワーキングメモリの関係 </b>. 
          日本心理学会第83回大会.
        <br><span style="background-color: #e264f5; font-family: Courier">refereed</span>
        </p>
      </li> 

    </ul>
  </div>
</div>


<div class="small-wrapper" align="center">
  <div class="section-container" align="left">
    <section class="about-header">
      <h1 id="sec:awardhonor" style="color:black" align="left">Awards and Honors</h1> 
  </div>
  <div class="awardhonor-container" align="left">
    <ul>
     
      
      <p class="subtitle">
        2022.4 　日本学生支援機構の<a href="https://www.jasso.go.jp/shogakukin/saiyochu/gyosekimenjo/index.html" target="_blank">　特に優れた業績による返還免除　</a>を受けました、  
      </p>

      <p class="subtitle">
        2022.4 　日本学術振興会に<a href="https://www.jsps.go.jp/j-pd/pd_gaiyo.html" target="_blank">　特別研究員DC2　</a>として採用され、620万円を支援されました。
      </p>
      
      <p class="subtitle">
        2021.10 　東京大学に<a href="https://www.cis-trans.jp/spring_gx/" target="_blank">　「グリーントランスフォーメーション（GX）を先導する高度人材育成」(SPRING GX) プロジェクト生　</a>に採用され、128万円を支援されました。
      </p>
      
      <p class="subtitle">
        2021.4 　JEES・三菱商事科学技術学生奨学金の奨学生に採用され、130万円を支援されました。
      </p>
      
      <p class="subtitle">
        2019.12 　日本基礎心理学会にて<a href="https://psychonomic.jp/award/2019.html" target="_blank">　優秀発表賞　</a>を受賞しました。  
      </p>
      
      <p class="subtitle">
        2018.4　 東京大学 国際卓越大学院 人文社会系研究科に<a href="https://www.l.u-tokyo.ac.jp/excellence/index.html" target="_blank">　次世代育成 プログラム生　</a>として採用され、360万円を支援されました。  
      </p>
      
  
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->



<!--
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
-->
